* {
	padding: 0;
	margin: 0;
}
body * {
	/* outline: 1px solid blue; */
}

body {
	background: url(https://vignette.wikia.nocookie.net/fairytail/images/7/7a/BG3.png);
	font-family: sans-serif;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
}

.container {
	width: 1140px;
	margin: 20px auto 0 auto;
	background: #ffffff;
}

.google-advertise {
	width: 1140px;
	margin: 20px auto 0 auto;
	margin-bottom: 20px;
	text-align: center;
}

footer {
	width: 1100px;
	padding: 20px;
	background: #8a1201;
	margin: 10px auto;
	color: #fff;
}

header {
	background: #8a1201;
	padding: 20px 20px 30px 20px;
}

span {
	font-weight: bold;
}

header a,
header .nav {
	display: inline-block;
	vertical-align: middle;
}

header .nav {
	margin-left: 20px;
}

header .nav * {
	/* float: right; */
	color: #fff;
	text-decoration: none;
	margin-right: 10px;
}
h1 {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding: 20px;
}
.main-body {
	padding: 20px;
	width: 700px;
}
.main-body p {
	line-height: 2;
	margin-bottom: 10px;
}

.main-body h2 {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.main-body a {
	text-decoration: none;
	color: #62a5ff;
}

.tab-container img {
	width: 250px;
	margin-left: 10px;
}
.tab-container .text-container {
	width: 60%;
}

.tab-container img,
.tab-container .text-container {
	display: inline-block;
	vertical-align: top;
	/* width: 50%; */
}

.main-body,
.side-bar {
	display: inline-block;
	vertical-align: top;
}

.side-bar {
	width: 380px;
}

.side-bar h2 {
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

/* override */
.ui-tabs-anchor:focus {
	outline: none;
}

.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 0.4em;
	background: none;
}

.ui-accordion .ui-accordion-content {
	padding: 1em 0.7em;
	border-top: 0;
	overflow: auto;
}

#accordion div {
	text-align: center;
}
